.turbine-control {
    -fx-padding:          5;
    -fx-background-color: rgb(191, 234, 255);
}

.turbine-control .display {
    -fx-font-family: 'Lato';
    -fx-font-size:   24;
    -fx-fill: rgb(73, 84, 101);
}

.turbine-control .display-editable {
    -fx-font-family: 'Lato';
    -fx-font-size:   24;
    -fx-fill: rgb(8, 24, 48);
}

.turbine-control .display-large {
    -fx-font-family: 'Lato';
    -fx-font-size:   32;
    -fx-fill: rgb(73, 84, 101);
}

.turbine-control .display-large-editable {
    -fx-font-family: 'Lato';
    -fx-font-size:   32;
    -fx-fill: rgb(8, 24, 48);
}

.turbine-control .display-large-field {
    -fx-font-family: 'Lato';
    -fx-font-size:   32;
    -fx-fill: rgb(8, 24, 48);
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: rgb(168, 42, 78);;
}

.turbine-control .display-field {
    -fx-font-family: 'Lato';
    -fx-font-size:   24;
    -fx-fill: rgb(8, 24, 48);
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: rgb(168, 42, 78);;
}